@{
}

@model BooksViewModel

<h1>Hilton's Bookstore</h1>

@foreach (Book b in Model.Books)
{
    <h3>@b.Title</h3>

    <ul>
        <li>Book Author: @b.Author</li>
        <li>Book Publisher: @b.Publisher</li>
        <li>Book Isbn: @b.Isbn</li>
        <li>Book Classification: @b.Classification</li>
        <li>Book Category: @b.Category</li>
        <li>Book Page Count: @b.PageCount</li>
        <li>Book Price: @b.Price</li>
    </ul>

    <br />
}

<div page-blah="@Model.PageInfo" page-action="Index"></div>
